/* General */
body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}

a, a:visited{
   color: #1a0dab;
}

/* Header */
header{
   border-bottom: 1px solid #ebebeb;
}

#input-box{
   padding-top: 20px;
   padding-bottom: 9px;
}

#input-box img{
   width: 92px;
   position: absolute;
   top: 30px;
   left: 20px;
}

#input-box form{
   display: inline-block;
   position: relative;
}

#input-box form input{
   height: 44px;
   border-radius: 22px;
   width: 597px;
   border: 1px solid #DFE1E5;
   padding: 0 21px;
   margin-left: 146px;
   font-size: 16px;
   box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

#search-icon, #keyboard-icon, #mic-icon{
   position: absolute;
   top: 14px;
   font-size: 18px;
}

#search-icon{
   right: 18px;
}

#keyboard-icon{
   right: 53px;
}

#mic-icon{
   right: 88px;
}

/* Navbar */
#links-list{
   list-style: none;
   padding-left: 0;
   margin-left: 146px;
   margin-bottom: 0;
}

#links-list li{
   display: inline-block;
   padding: 0 11px;
   margin-top: 11px;
}

#links-list li a{
   color: #5f6368;
   text-decoration: none;
   font-size: 13px;
   padding-bottom: 12px;
   display: inline-block;
}

#links-list li span{
   font-size: 16px;
   display: inline-block;
   margin-right: 3px;
}

#links-list li a:hover{
   color: #1a73e8;
}

.active{
   border-bottom: 3px solid #1a73e8;
}

#links-list .active a{
   color: #1a73e8;
}
